/*<meta />*/

@namespace MadCap url(http://www.madcapsoftware.com/Schemas/MadCap.xsd);

img
{
	border: none;
}

p
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12pt;
	color: #415364;
	margin: 1.12;
}

h1
{
	font-family: Arial, Helvetica, sans-serif;
	border: none 2px transparent;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	padding-bottom: 10px;
	font-size: 20pt;
	color: #415364;
	font-weight: 600;
}

h2
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18pt;
	color: #415364;
	font-weight: 600;
}

h3
{
	font-size: 16pt;
	color: #415364;
	font-family: Arial;
	font-weight: 600;
}

h4
{
	font-size: 14pt;
	color: #415364;
	font-family: Arial;
	font-weight: 600;
}

h1.chapter
{
	text-align: left;
	margin-left: 0in;
	margin-right: 0in;
	margin-top: 34pt;
	margin-bottom: 5pt;
	font-weight: 600;
	font-style: normal;
	letter-spacing: 0em;
	mc-hyphenate: never;
	mc-auto-number-position: inside-head;
	mc-auto-number-offset: 0px;
	text-indent: 0px;
	line-height: 34pt;
	text-decoration: none;
	font-family: Arial;
	font-size: 20pt;
}

MadCap|xref.headingpage
{
	font-family: Arial;
	mc-format: '{paratext}';
}

p.note
{
	line-height: 18px;
	background: #ecf3ff;
	border: solid 0.05rem #448aff;
	border-radius: 5px;
	padding: 10px 60px 10px 50px;
}

p.important
{
	line-height: 18px;
	overflow: hidden;
	border: solid 0.05rem #7c4dff;
	border-radius: 5px;
	padding: 10px 60px 10px 50px;
	background: #F6F0FF;
}

p.caution
{
	line-height: 18px;
	overflow: hidden;
	background: #fff4e5;
	border: solid 0.05rem #ff9100;
	border-radius: 5px;
	padding: 10px 60px 10px 50px;
}

p.warning
{
	line-height: 18px;
	overflow: hidden;
	background: #ffeded;
	border: solid 0.05rem #ff5252;
	border-radius: 5px;
	padding: 10px 60px 10px 50px;
}

p.best_practices
{
	line-height: 18px;
	overflow: hidden;
	padding: 10px 60px 10px 50px;
	background: #e5f9ed;
	border: solid 0.05rem #00c853;
	border-radius: 5px;
}

p.tip
{
	line-height: 18px;
	overflow: hidden;
	padding: 10px 60px 10px 50px;
	background: #e5f8f6;
	border: solid 0.05rem #00bfa5;
	border-radius: 5px;
}

p.example
{
	text-align: left;
	margin-right: 0in;
	margin-top: 6pt;
	font-weight: normal;
	font-style: normal;
	letter-spacing: 0em;
	mc-hyphenate: never;
	text-decoration: none;
	color: #415364;
	background-color: #f2f5f7;
	text-indent: 0in;
	margin-left: 0.35in;
	margin-bottom: 6pt;
	font-family: Consolas, Monaco, Courier New, monospace;
	line-height: 13pt;
}

MadCap|xref.heading_and_page
{
	mc-format: '{paratext}';
	font-family: Arial, Helvetica, sans-serif;
}

h1.title
{
	border: solid 0px transparent;
	text-align: right;
	font-size: 28pt;
	font-family: Arial;
}

div.tip
{
	line-height: 18px;
	overflow: hidden;
	border: solid 0.05rem #00bfa5;
	border-radius: 5px;
	padding-bottom: 18px;
	font-family: Arial, Helvetica, sans-serif;
	padding: 0px 60px 10px 50px;
	padding-top: 2px;
	background: #e5f8f6;
	margin-bottom: 10px;
}

div.note
{
	line-height: 18px;
	overflow: hidden;
	border: solid 0.05rem #448aff;
	border-radius: 5px;
	padding-bottom: 18px;
	font-family: Arial, Helvetica, sans-serif;
	padding: 0px 60px 10px 50px;
	padding-top: 2px;
	background: #ecf3ff;
	margin-bottom: 10px;
}

div.important
{
	line-height: 18px;
	overflow: hidden;
	border: solid 0.05rem #7c4dff;
	border-radius: 5px;
	padding-bottom: 18px;
	padding-top: 10px;
	font-family: Arial, Helvetica, sans-serif;
	padding: 0px 60px 16px 50px;
	margin-bottom: 10px;
	background: #F6F0FF;
}

div.best_practices
{
	line-height: 18px;
	overflow: hidden;
	border: solid 0.05rem #00c853;
	border-radius: 5px;
	padding-bottom: 18px;
	font-family: Arial, Helvetica, sans-serif;
	padding: 0px 60px 10px 50px;
	padding-top: 2px;
	background: #e5f9ed;
	margin-bottom: 10px;
}

div.caution
{
	line-height: 18px;
	overflow: hidden;
	border: solid 0.05rem #ff9100;
	border-radius: 5px;
	padding-bottom: 18px;
	font-family: Arial, Helvetica, sans-serif;
	padding: 0px 60px 10px 50px;
	padding-top: 0px;
	background: #fff4e5;
	margin-bottom: 10px;
}

div.warning
{
	line-height: 18px;
	overflow: hidden;
	border: solid 0.05rem #ff5252;
	border-radius: 5px;
	padding-bottom: 18px;
	padding-top: 10px;
	font-family: Arial, Helvetica, sans-serif;
	padding: 0px 60px 10px 50px;
	background: #ffeded;
	margin-bottom: 10px;
}

p.title
{
	font-family: Arial, Helvetica, sans-serif;
	text-align: right;
}

li
{
	margin: 1.12em 0;
	margin-bottom: 1.12em;
	margin-top: 1.12em;
	list-style-type: inherit;
	font-size: 12pt;
	font-family: Arial, Helvetica, sans-serif;
	color: #415364;
}

MadCap|dropdownhead
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13pt;
	padding-bottom: 5px;
	padding-left: 20px;
	color: #415364;
}

MadCap|dropdownhotspot
{
	font-size: 13pt;
	color: #415364;
}

MadCap|expandingbody
{
	font-family: Arial, Helvetica, sans-serif;
	padding: 0px 0px 7px;
}

MadCap|expandinghead
{
	color: #011e69;
	padding-top: 6pt;
	margin-top: 6pt;
}

MadCap|xref
{
	font-family: Arial, Helvetica, sans-serif;
	mc-format: '{paratext}';
	color: #0033a1;
	text-decoration: underline;
}

h5
{
	font-family: Arial, Helvetica, sans-serif;
}

h6
{
	font-family: Arial, Helvetica, sans-serif;
}

pre
{
	font-size: 10pt;
	background: #eff4f9;
}

th
{
	font-family: Arial, Helvetica, sans-serif;
	color: #0074d9;
}

tr
{
	font-family: Arial, Helvetica, sans-serif;
}

thead
{
	font-family: Arial, Helvetica, sans-serif;
	color: #0074d9;
}

div.GlossaryPageTerm
{
	color: #1c6cb2;
	font-size: 14pt;
	font-weight: bold;
}

MadCap|breadcrumbsProxy
{
	border-bottom-width: 0px;
	border-bottom-style: none;
	border: none 0px transparent;
	padding-top: 10px;
	padding-bottom: 0px;
}

body
{
	line-height: 1.6;
}

MadCap|dropDown
{
	mc-closed-image: url('../images/icons/chevron_right.png');
	mc-open-image: url('../images/icons/chevron_down.png');
	border: none 0px #dae1e9;
}

MadCap|dropDownBody
{
	padding: 3px 0px 7px;
}

:focus
{
	outline: none;
}

a
{
	color: #0033a1;
	text-decoration: underline;
}

a:link
{
	font-family: Arial, Helvetica, sans-serif;
	color: #0033a1;
	text-decoration: underline;
}

a:link
{
	
}

a:visited
{
	color: #800080;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
}

a:hover
{
	color: #0033a1;
	text-decoration: underline;
	font-family: Arial, Helvetica, sans-serif;
	font-style: italic;
}

a:hover
{
	color: #0033a1;
	font-style: italic;
	text-decoration: underline;
}

MadCap|miniTocProxy
{
	border-top-color: transparent;
	border: none 0px transparent;
	margin-top: 0px;
	mc-toc-depth: 3;
}

p.Option
{
	font-style: italic;
	font-weight: bolder;
	margin-left: 0px;
	margin: 0px 0px 0px 0.25in;
	page-break-after: avoid;
}

p.Option_Def
{
	margin-left: 35px;
	page-break-before: avoid;
	margin: 3pt 0px 6pt 0.35in;
}

div.Option_Def
{
	margin: 3px 0px 0px 15px;
	column-break-before: avoid;
	frame-break-before: avoid;
	margin-left: 45px;
}

ul.option_description_list
{
	margin-left: 60px;
}

ol.option_description_list
{
	margin-left: 60px;
}

MadCap|codeSnippet
{
	margin: 0px 0px 0px 0.35in;
}

p.MiniTOC2
{
	text-decoration: underline;
}

p.MiniTOC1
{
	text-decoration: underline;
}

p.MiniTOC3
{
	text-decoration: underline;
}

p.MiniTOC4
{
	text-decoration: underline;
}

/*the following styles control what happens to mini-TOC entries when you hover your cursor over them*/

a.MiniTOC1:hover
{
	font-style: italic;
}

a.MiniTOC2:hover
{
	font-style: italic;
}

a.MiniTOC3:hover
{
	font-style: italic;
}

a.MiniTOC4:hover
{
	font-style: italic;
}

@media Online
{
	p.note
	{
		background-image: url('../images/icons/note-sticky22.png');
		background-position: 9px 10px;
		background-repeat: no-repeat;
		line-height: 18px;
		overflow: hidden;
		padding: 10px 60px 10px 50px;
		page-break-before: avoid;
	}

	p.important
	{
		background-image: url('../images/icons/exclamation22.png');
		background-position: 9px 10px;
		background-repeat: no-repeat;
		line-height: 18px;
		overflow: hidden;
		padding: 10px 60px 10px 50px;
	}

	p.caution
	{
		background-image: url('../images/icons/caution22.png');
		background-position: 9px 10px;
		background-repeat: no-repeat;
		line-height: 18px;
		overflow: hidden;
		padding: 10px 60px 10px 50px;
	}

	p.warning
	{
		background-image: url('../images/icons/warning22.png');
		background-position: 9px 10px;
		background-repeat: no-repeat;
		line-height: 18px;
		overflow: hidden;
		padding: 10px 60px 10px 50px;
	}

	p.best_practices
	{
		background-image: url('../images/icons/check22.png');
		background-position: 9px 10px;
		background-repeat: no-repeat;
		line-height: 18px;
		overflow: hidden;
		padding: 10px 60px 10px 50px;
	}

	p.tip
	{
		background-image: url('../images/icons/fire-flame-curved22.png');
		background-position: 9px 10px;
		background-repeat: no-repeat;
		line-height: 18px;
		overflow: hidden;
		padding: 10px 60px 10px 50px;
		page-break-before: avoid;
	}

	tr
	{
		font-size: 10pt;
		font-family: Arial, Helvetica, sans-serif;
	}

	td
	{
		font-family: Arial, Helvetica, sans-serif;
		font-size: 10pt;
	}

	div.tip
	{
		background-image: url('../images/icons/fire-flame-curved22.png');
		background-position: 9px 10px;
		background-repeat: no-repeat;
		line-height: 18px;
		overflow: hidden;
		padding-top: 10px;
		font-family: Arial, Helvetica, sans-serif;
		padding-bottom: 10px;
		padding: 0px 60px 10px 50px;
	}

	div.note
	{
		background-image: url('../images/icons/note-sticky22.png');
		background-position: 9px 10px;
		background-repeat: no-repeat;
		line-height: 18px;
		overflow: hidden;
		padding-top: 10px;
		font-family: Arial, Helvetica, sans-serif;
		padding: 0px 60px 10px 50px;
		padding-bottom: 10px;
	}

	div.important
	{
		background-image: url('../images/icons/exclamation22.png');
		background-position: 9px 10px;
		background-repeat: no-repeat;
		line-height: 18px;
		overflow: hidden;
		padding-top: 10px;
		font-family: Arial, Helvetica, sans-serif;
		padding-bottom: 10px;
		padding: 0px 60px 10px 50px;
	}

	div.best_practices
	{
		background-image: url('../images/icons/check22.png');
		background-position: 9px 10px;
		background-repeat: no-repeat;
		line-height: 18px;
		overflow: hidden;
		padding-top: 10px;
		font-family: Arial, Helvetica, sans-serif;
		padding: 0px 60px 10px 50px;
		padding-bottom: 10px;
	}

	div.caution
	{
		background-image: url('../images/icons/caution22.png');
		background-position: 9px 10px;
		background-repeat: no-repeat;
		line-height: 18px;
		overflow: hidden;
		font-family: Arial, Helvetica, sans-serif;
		padding: 0px 60px px 50px;
		padding-top: 0px;
		padding-bottom: 0px;
	}

	div.warning
	{
		background-image: url('../images/icons/warning22.png');
		background-position: 9px 10px;
		background-repeat: no-repeat;
		line-height: 18px;
		overflow: hidden;
		padding-top: 10px;
		font-family: Arial, Helvetica, sans-serif;
		padding: 0px 60px 0px 50px;
		padding-bottom: 0px;
	}

	div.header
	{
		position: fixed;
		width: 100%;
		top: 0;
		right: auto;
		left: auto;
	}

	div.footer
	{
		background-color: #0033a1;
		position: fixed;
		padding-left: 1em;
		padding-right: 1em;
		bottom: 0;
		height: 30px;
		width: 78.5%;
		/*adjusted the size of the footer to desired length*/
		right: 1%;
		/*added this to make room in the right side revealing the scrollbar*/
	}

	MadCap|dropdownhead
	{
		color: #415364;
		font-size: 13pt;
	}

	MadCap|dropdownhotspot
	{
		font-family: Arial, Helvetica, sans-serif;
		font-weight: bold;
	}

	p.Option_Def
	{
		margin: 3px 0px 0px 15px;
		column-break-before: avoid;
		frame-break-before: avoid;
		margin-left: 45px;
	}

	div.Option_Def
	{
		margin: 3px 0px 0px 15px;
		column-break-before: avoid;
		frame-break-before: avoid;
		margin-left: 45px;
	}

	li
	{
		margin-left: 15px;
	}

	p.Option
	{
		column-break-after: avoid;
		frame-break-after: avoid;
	}

	p
	{
		font-family: Arial, Helvetica, sans-serif;
	}

	h1
	{
		font-family: Arial, Helvetica, sans-serif;
		color: #415364;
		font-weight: 600;
	}

	a
	{
		
	}

	MadCap|xref
	{
		mc-format: '{paratext}';
	}

	a:hover
	{
		color: #0033a1;
		font-style: italic;
		text-decoration: underline;
	}

	a:link
	{
		
	}

	MadCap|breadcrumbsProxy
	{
		font-family: Arial, Helvetica, sans-serif;
	}

	MadCap|xref:hover
	{
		text-decoration: underline;
	}

	p.example
	{
		margin-left: 0.5in;
	}

	p.MiniTOC1
	{
		color: #0071ce;
	}

	p.MiniTOC2
	{
		color: #0071ce;
	}

	p.MiniTOC3
	{
		color: #0071ce;
	}

	p.MiniTOC4
	{
		color: #0071ce;
	}
}

li.option_description_list
{
	margin-bottom: 1.12 em;
	margin-top: 1.12em;
	margin: 1.12em 0;
	margin-left: 34px;
}

p.short_desc
{
	
}

p.table
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12pt;
	margin: 1.12;
}

@media print
{
	body
	{
		line-height: 1.6;
	}

	p
	{
		font-size: 10pt;
		font-family: Arial, Helvetica, sans-serif;
		margin-bottom: 6 pt;
	}

	div
	{
		font-family: Arial, Helvetica, sans-serif;
	}

	div.warning
	{
		background: #ffeded;
		border-left: solid 4px #ff5252;
		border-radius: 0px;
		/*Removes border settings inherited from default note settings*/
		margin-left: 50px;
		border-right-width: 0px;
		border-bottom-width: 0px;
		border-top-width: 0px;
		padding: 10px 60px 10px 10px;
		margin-bottom: 18pt;
	}

	div.note
	{
		background: #ecf3ff;
		border-left: solid 4px #448aff;
		border-radius: 0px;
		/*Removes border settings inherited from default note settings*/
		margin-left: 50px;
		border-right-width: 0px;
		border-bottom-width: 0px;
		border-top-width: 0px;
		padding: 10px 60px 10px 10px;
		margin-bottom: 18pt;
	}

	div.important
	{
		background: #f2edff;
		border-left: solid 4px #7c4dff;
		border-radius: 0px;
		/*Removes border settings inherited from default note settings*/
		margin-left: 50px;
		border-right-width: 0px;
		border-bottom-width: 0px;
		border-top-width: 0px;
		padding: 10px 60px 10px 10px;
		margin-bottom: 18pt;
	}

	div.caution
	{
		border-left: solid 4px #fed500;
		border-radius: 0px;
		/*Removes border settings inherited from default note settings*/
		background-color: #fbf9ee;
		margin-left: 50px;
		border-right-width: 0px;
		border-bottom-width: 0px;
		border-top-width: 0px;
		padding: 10px 60px 10px 10px;
		margin-bottom: 18pt;
	}

	div.tip
	{
		border-left: solid 4px #00bfa5;
		border-radius: 0px;
		/*Removes border settings inherited from default note settings*/
		background-color: #e5f8f6;
		margin-left: 50px;
		border-right-width: 0px;
		border-bottom-width: 0px;
		border-top-width: 0px;
		padding: 10px 60px 10px 10px;
		margin-bottom: 18pt;
	}

	div.best_practices
	{
		border: solid 0.05rem #00c853;
		border-radius: 0px;
		/*Removes border settings inherited from default note settings*/
		background-color: #e5f9ed;
		margin-left: 50px;
		border-right-width: 0px;
		border-bottom-width: 0px;
		border-top-width: 0px;
		padding: 10px 60px 10px 10px;
		margin-bottom: 18pt;
	}

	p.caution
	{
		line-height: 18px;
		background-color: #fff4e5;
		border-left: solid 4px #ff9100;
		border-radius: 0px;
		/*Removes border settings inherited from default note settings*/
		margin-left: 50px;
		border-right-width: 0px;
		border-bottom-width: 0px;
		border-top-width: 0px;
		padding: 10px 60px 10px 10px;
		margin-bottom: 18pt;
	}

	p.important
	{
		line-height: 18px;
		overflow: hidden;
		background: #f2edff;
		border-left: solid 4px #7c4dff;
		border-radius: 0px;
		/*Removes border settings inherited from default note settings*/
		background: #eff4f9;
		margin-left: 50px;
		border-right-width: 0px;
		border-bottom-width: 0px;
		border-top-width: 0px;
		padding: 10px 60px 10px 10px;
		margin-bottom: 18pt;
	}

	p.note
	{
		line-height: 18px;
		overflow: hidden;
		background: #ecf3ff;
		border-left: solid 4px #448aff;
		border-radius: 0px;
		/*Removes border settings inherited from default note settings*/
		margin-left: 50px;
		border-right-width: 0px;
		border-bottom-width: 0px;
		border-top-width: 0px;
		padding: 10px 60px 10px 10px;
	}

	p.warning
	{
		line-height: 18px;
		overflow: hidden;
		background: #ffeded;
		border-left: solid 4px #ff5252;
		border-radius: 0px;
		/*Removes border settings inherited from default note settings*/
		margin-left: 50px;
		border-right-width: 0px;
		border-bottom-width: 0px;
		border-top-width: 0px;
		padding: 10px 60px 10px 10px;
		margin-bottom: 18pt;
	}

	p.best_practices
	{
		line-height: 18px;
		overflow: hidden;
		background: #e5f9ed;
		border-left: solid 4px #00c853;
		border-radius: 0px;
		/*Removes border settings inherited from default note settings*/
		margin-left: 50px;
		border-right-width: 0px;
		border-bottom-width: 0px;
		border-top-width: 0px;
		padding-left: 50px;
		padding: 10px 60px 10px 10px;
		margin-bottom: 18pt;
	}

	p.tip
	{
		line-height: 18px;
		overflow: hidden;
		background: #e5f8f6;
		border-left: solid 4px #00bfa5;
		border-radius: 0px;
		/*Removes border setting  inherited from default note settings*/
		margin-left: 50px;
		border-right-width: 0px;
		border-bottom-width: 0px;
		border-top-width: 0px;
		padding: 10px 60px 10px 10px;
		margin-bottom: 18pt;
	}

	pre
	{
		margin-right: 1.12em;
	}

	p.Option
	{
		margin: 1.2em 0px;
		font-size: 11pt;
	}

	MadCap|dropDownHead
	{
		font-size: 10pt;
		background: #ffffff;
		color: #415364;
	}

	MadCap|dropDownHotspot
	{
		font-size: 10;
		font-family: Arial, Helvetica, sans-serif;
		color: #415364;
		font-style: normal;
		font-weight: bold;
	}

	h1
	{
		font-size: 18pt;
		page-break-before: always;
		color: #415364;
		font-weight: bold;
	}

	h2
	{
		color: #415364;
		font-weight: bold;
		font-size: 16pt;
	}

	h3
	{
		mc-heading-level: 0;
		color: #415364;
		font-weight: bold;
		font-size: 14pt;
	}

	h4
	{
		mc-heading-level: 0;
		font-style: italic;
		color: #415364;
		font-weight: bold;
		font-size: 12pt;
	}

	h5
	{
		mc-heading-level: 0;
	}

	h6
	{
		mc-heading-level: 0;
	}

	td
	{
		margin-bottom: 1.12em;
		margin-top: 1.12em;
		font-family: Arial, Helvetica, sans-serif;
		font-size: 10pt;
	}

	tr
	{
		font-size: 10pt;
	}

	ol
	{
		margin: 1.12em 0;
		margin-bottom: 1.12em;
		margin-left: 40px;
	}

	div.GlossaryPageTerm
	{
		font-size: 16pt;
		font-weight: bolder;
		color: #1c6cb2;
	}

	p.TOC2
	{
		margin-left: 35px;
	}

	li
	{
		
	}

	th
	{
		color: #0071ce;
	}

	div.best_practices
	{
		padding: 10px 0px 10px 10px;
		margin-left: 50px;
	}

	div.tip
	{
		padding: 10px 0px 10px 10px;
		margin-left: 50px;
	}

	span.mc-variable
	{
		font-family: Arial;
	}

	MadCap|xref.headingpage
	{
		mc-format: '{paratext}';
	}

	MadCap|xref
	{
		mc-format: '{paratext}';
	}

	p.example
	{
		margin-left: 40 px;
	}

	p.table
	{
		font-size: 10pt;
	}
}

/*mobile style section, right now styling only the footer in mobile display mode*/

p.MiniTOC4
{
	color: #0071ce;
}

p.MiniTOC3
{
	color: #0071ce;
}

p.MiniTOC2
{
	color: #0071ce;
}

p.MiniTOC1
{
	color: #0071ce;
}

p.example
{
	margin-left: 0.5in;
}

MadCap|xref:hover
{
	text-decoration: underline;
}

MadCap|breadcrumbsProxy
{
	font-family: Arial, Helvetica, sans-serif;
}

MadCap|xref
{
	mc-format: '{paratext}';
}

a
{
	
}

h1
{
	font-family: Arial, Helvetica, sans-serif;
	color: #415364;
	font-weight: 600;
}

p
{
	font-family: Arial, Helvetica, sans-serif;
}

p.Option
{
	column-break-after: avoid;
	frame-break-after: avoid;
}

li
{
	margin-left: 15px;
}

div.Option_Def
{
	margin: 3px 0px 0px 15px;
	column-break-before: avoid;
	frame-break-before: avoid;
	margin-left: 45px;
}

p.Option_Def
{
	margin: 3px 0px 0px 15px;
	column-break-before: avoid;
	frame-break-before: avoid;
	margin-left: 45px;
}

MadCap|dropdownhotspot
{
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}

MadCap|dropdownhead
{
	color: #415364;
	font-size: 13pt;
}

div.footer
{
	background-color: #0033a1;
	position: fixed;
	padding-left: 1em;
	padding-right: 1em;
	bottom: 0;
	height: 30px;
	width: 78.5%;
	right: 1%;
}

div.header
{
	position: fixed;
	width: 100%;
	top: 0;
	right: auto;
	left: auto;
}

div.warning
{
	background-image: url('../images/icons/warning22.png');
	background-position: 9px 10px;
	background-repeat: no-repeat;
	line-height: 18px;
	overflow: hidden;
	padding-top: 10px;
	font-family: Arial, Helvetica, sans-serif;
	padding: 0px 60px 0px 50px;
	padding-bottom: 0px;
}

div.caution
{
	background-image: url('../images/icons/caution22.png');
	background-position: 9px 10px;
	background-repeat: no-repeat;
	line-height: 18px;
	overflow: hidden;
	font-family: Arial, Helvetica, sans-serif;
	padding: 0px 60px px 50px;
	padding-top: 0px;
	padding-bottom: 0px;
}

div.best_practices
{
	background-image: url('../images/icons/check22.png');
	background-position: 9px 10px;
	background-repeat: no-repeat;
	line-height: 18px;
	overflow: hidden;
	padding-top: 10px;
	font-family: Arial, Helvetica, sans-serif;
	padding: 0px 60px 10px 50px;
	padding-bottom: 10px;
}

div.important
{
	background-image: url('../images/icons/exclamation22.png');
	background-position: 9px 10px;
	background-repeat: no-repeat;
	line-height: 18px;
	overflow: hidden;
	padding-top: 10px;
	font-family: Arial, Helvetica, sans-serif;
	padding-bottom: 10px;
	padding: 0px 60px 10px 50px;
}

div.note
{
	background-image: url('../images/icons/note-sticky22.png');
	background-position: 9px 10px;
	background-repeat: no-repeat;
	line-height: 18px;
	overflow: hidden;
	padding-top: 10px;
	font-family: Arial, Helvetica, sans-serif;
	padding: 0px 60px 10px 50px;
	padding-bottom: 10px;
}

div.tip
{
	background-image: url('../images/icons/fire-flame-curved22.png');
	background-position: 9px 10px;
	background-repeat: no-repeat;
	line-height: 18px;
	overflow: hidden;
	padding-top: 10px;
	font-family: Arial, Helvetica, sans-serif;
	padding-bottom: 10px;
	padding: 0px 60px 10px 50px;
}

td
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
}

tr
{
	font-size: 10pt;
	font-family: Arial, Helvetica, sans-serif;
}

p.tip
{
	background-image: url('../images/icons/fire-flame-curved22.png');
	background-position: 9px 10px;
	background-repeat: no-repeat;
	line-height: 18px;
	overflow: hidden;
	padding: 10px 60px 10px 50px;
	page-break-before: avoid;
}

p.best_practices
{
	background-image: url('../images/icons/check22.png');
	background-position: 9px 10px;
	background-repeat: no-repeat;
	line-height: 18px;
	overflow: hidden;
	padding: 10px 60px 10px 50px;
}

p.warning
{
	background-image: url('../images/icons/warning22.png');
	background-position: 9px 10px;
	background-repeat: no-repeat;
	line-height: 18px;
	overflow: hidden;
	padding: 10px 60px 10px 50px;
}

p.caution
{
	background-image: url('../images/icons/caution22.png');
	background-position: 9px 10px;
	background-repeat: no-repeat;
	line-height: 18px;
	overflow: hidden;
	padding: 10px 60px 10px 50px;
}

p.important
{
	background-image: url('../images/icons/exclamation22.png');
	background-position: 9px 10px;
	background-repeat: no-repeat;
	line-height: 18px;
	overflow: hidden;
	padding: 10px 60px 10px 50px;
}

p.note
{
	background-image: url('../images/icons/note-sticky22.png');
	background-position: 9px 10px;
	background-repeat: no-repeat;
	line-height: 18px;
	overflow: hidden;
	padding: 10px 60px 10px 50px;
	page-break-before: avoid;
}

@media only screen and (max-device-width: 1279px)
{
	div.footer
	{
		width: 96%;
		right: 2%;
	}
}

/*<meta sourceDocument="C:\Users\nileema.kamble\Documents\Cloud_Access_Management\docs\cloud_access_management\config_azure.md" />*/

